{{ define "main" }}

<style>
.collage {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 0px;
}

.collage img,
.collage video {
  width: auto;
  height: 400px;
  object-fit: contain;
}
</style>

<!-- <div class="collage"> -->
<!--   {{ $files := readDir "static/media" }} -->
<!--   {{ range $files }} -->
<!--     {{ if and (not .IsDir) (or (hasSuffix .Name ".jpg") (hasSuffix .Name ".jpeg") (hasSuffix .Name ".png") (hasSuffix .Name ".mp4") (hasSuffix .Name ".webm") ) }} -->
<!--       {{ if or (hasSuffix .Name ".jpg") (hasSuffix .Name ".jpeg") (hasSuffix .Name ".png") }} -->
<!--         <img src="/media/{{ .Name }}" alt="{{ .Name }}"> -->
<!--       {{ else if or (hasSuffix .Name ".mp4") (hasSuffix .Name ".webm") }} -->
<!--         <video controls> -->
<!--           <source src="/media/{{ .Name }}" type="video/{{ if hasSuffix .Name ".mp4" }}mp4{{ else }}webm{{ end }}"> -->
<!--           Your browser does not support the video tag. -->
<!--         </video> -->
<!--       {{ end }} -->
<!--     {{ end }} -->
<!--   {{ end }} -->
<!-- </div> -->
{{ partial "photo-collage.html" . }}
{{ end }}
